/* .wrapper {
  z-index: 2;
} */

/* *** Begin Face Section *** */

.face {
  width: 100px;
  height: 110px;
  background: #F8CD64;
  border-radius: 50%;
  position: relative;
  /* Helper: Center Face */
  left: 45%;
  margin-top: 25%;
  z-index: 0;
}

.eye {
  width: 10px;
  height: 25px;
  background: black;
  border-radius: 50%;
  /* Pain point */
  position: absolute;
}

.left-eye {
  top: 30px;
  left: 30px;
  position: absolute;
}

.right-eye {
  top: 30px;
  right: 30px;
  position: absolute;
}

.mouth {
  height: 25px;
  width: 50px;
  border-radius: 0 0 90px 90px;
  background: black;
  position: absolute;
  left: 25px;
  top: 70px;
}

/* *** End Face Section *** */


/* *** Begin Hat Section *** */

.hat {
  position: relative;
  /* Helper: Center Hat */
  left: 45.6%;
  margin-top: -160px;
}
.fez {
  border-bottom: 70px solid #800020;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-radius: 20px 20px 5px 5px;
  height: 0;
  width: 70px;
  position: absolute;
}

.tassel {
  height:10px;
  width:10px;
  border:5px solid black;
  border-bottom: 0px;
  border-radius: 45px 45px 0px 0px;
}

.cowboy-bottom {
  height: 25px;
  width: 150px;
  border-radius: 0 0 90px 90px;
  background: #5F4412;
  position: absolute;
  left: -30px;
  top: 55px;
}

.cowboy-top {
  position: relative;
  width: 100px;
  height: 90px;
}
.cowboy-top:before,
.cowboy-top:after {
  position: absolute;
  content: "";
  left: 40px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #5F4412;
  border-radius: 50px 50px 0 0;
  /* transform: rotate(-45deg); */
  transform-origin: 0 100%;
}
.cowboy-top:after {
  left: 0;
  /* transform: rotate(45deg); */
  transform-origin: 100% 100%;
}

.cowboy-scarf {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 70px solid #8C1A11;
  margin-top: 60px;
  margin-left: 35px;
  transform: rotate(-18deg) translate(-5px, 0px);

}

.cowboy-circle {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-8px, -30px);
}

.cowboy-scarf-back {
  width: 90px;
  height: 35px;
  background: #8C1A11;
  border-radius: 35px / 18px;
  transform: translate(425px, 350px);
  z-index: -1;
}

/* *** End Hat Section ***  */
